.List {
    margin: 1rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 600px;
    background: #131313;
    color: #fff;
    box-shadow: -15px -15px 0px 0px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}
.List ul {
    margin-top: 2.6rem;
    list-style: none;
}
  
.List h1 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}